@charset "UTF-8";

a {
    -webkit-transition: color .3s linear;
    -moz-transition: color .3s linear;
    transition: color .3s linear;
    &:hover, &:focus {
        text-decoration: none;
    }
}

body {
    background-color: #fff100;
}

.icon-logo-indstriashort {
    color: rgba(0,0,0,.1);
    position: absolute;
}

.masthead {
    padding-right: 0;
    padding-left: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    z-index: 1;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    i {
        vertical-align: middle;
        line-height: 0; 
    }
    header {
        position: absolute;
        h1 {
            font-size: 50px;
            line-height: 1;
            margin: 0;
        }
        .lead {
            font-size: 24px;
            font-weight: 100;
            margin: 0;
        }
        .social-links {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    border-radius: 0;
                    text-align: left;
                    i {
                        font-size: 35px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    footer {
        position: absolute;
    }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 767px) {
    /* for mobile */
    .icon-logo-indstriashort {
        font-size: 130px;
        left: 0;
        bottom: 20%;
    }
    .masthead {
        padding-top: 20px;
        padding-bottom: 20px;
        header {
            position: static;
            .social-links {
                margin-top: 80px;
                position: absolute;
                left: 130px;
            }
        }
        section {
            margin-top: 20px;
            img {
                width: 95px;
                height: 249px;
            }
        }
        footer {
            bottom: 20px;
        }
    }
}
@media only screen and (min-width: 768px) {
    /* for tablet */
    .container {
        width: 650px;
    }
    .icon-logo-indstriashort {
        font-size: 300px;
        right: 0;
        bottom: 20%;
    }
    .masthead {
        padding-top: 100px;
        padding-bottom: 100px;
        header {
            right: 20%;
            .social-links {
                margin-top: 80px;
            }
        }
        section {
            margin-top: -50px;
            img {
                width: 190px;
                height: 498px;
            }
        }
        footer {
            right: 24%;
            bottom: 20%;
        }
    }
}
@media only screen and (min-width: 992px) {
    /* for pc */
    .container {
        width: 750px;
    }
    .icon-logo-indstriashort {
        font-size: 400px;
        right: 0;
        bottom: 15%;
    }
    .masthead {
        padding-top: 130px;
        padding-bottom: 130px;
        header {
            right: 20%;
            .social-links {
                margin-top: 50px;
                position: static;
            }
        }
        section {
            margin-top: -50px;
            img {
                width: 190px;
                height: 498px;
            }
        }
        footer {
            right: 20%;
            bottom: 15%;
        }
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* for hidpi */
}