a {
  -webkit-transition: color .3s linear;
  -moz-transition: color .3s linear;
  transition: color .3s linear; }
  a:hover, a:focus {
    text-decoration: none; }

body {
  background-color: #fff100; }

.icon-logo-indstriashort {
  color: rgba(0, 0, 0, 0.1);
  position: absolute; }

.masthead {
  padding-right: 0;
  padding-left: 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .masthead i {
    vertical-align: middle;
    line-height: 0; }
  .masthead header {
    position: absolute; }
    .masthead header h1 {
      font-size: 50px;
      line-height: 1;
      margin: 0; }
    .masthead header .lead {
      font-size: 24px;
      font-weight: 100;
      margin: 0; }
    .masthead header .social-links {
      margin: 0;
      padding: 0;
      list-style: none; }
      .masthead header .social-links li {
        margin-bottom: 10px; }
        .masthead header .social-links li:last-child {
          margin-bottom: 0; }
        .masthead header .social-links li a {
          border-radius: 0;
          text-align: left; }
          .masthead header .social-links li a i {
            font-size: 35px;
            margin-right: 10px; }
  .masthead footer {
    position: absolute; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 767px) {
  /* for mobile */
  .icon-logo-indstriashort {
    font-size: 130px;
    left: 0;
    bottom: 20%; }

  .masthead {
    padding-top: 20px;
    padding-bottom: 20px; }
    .masthead header {
      position: static; }
      .masthead header .social-links {
        margin-top: 80px;
        position: absolute;
        left: 130px; }
    .masthead section {
      margin-top: 20px; }
      .masthead section img {
        width: 95px;
        height: 249px; }
    .masthead footer {
      bottom: 20px; } }
@media only screen and (min-width: 768px) {
  /* for tablet */
  .container {
    width: 650px; }

  .icon-logo-indstriashort {
    font-size: 300px;
    right: 0;
    bottom: 20%; }

  .masthead {
    padding-top: 100px;
    padding-bottom: 100px; }
    .masthead header {
      right: 20%; }
      .masthead header .social-links {
        margin-top: 80px; }
    .masthead section {
      margin-top: -50px; }
      .masthead section img {
        width: 190px;
        height: 498px; }
    .masthead footer {
      right: 24%;
      bottom: 20%; } }
@media only screen and (min-width: 992px) {
  /* for pc */
  .container {
    width: 750px; }

  .icon-logo-indstriashort {
    font-size: 400px;
    right: 0;
    bottom: 15%; }

  .masthead {
    padding-top: 130px;
    padding-bottom: 130px; }
    .masthead header {
      right: 20%; }
      .masthead header .social-links {
        margin-top: 50px;
        position: static; }
    .masthead section {
      margin-top: -50px; }
      .masthead section img {
        width: 190px;
        height: 498px; }
    .masthead footer {
      right: 20%;
      bottom: 15%; } }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* for hidpi */ }
